{% extends 'base.html.twig' %}

{% block title %}Update{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/forms.css') }}" rel="stylesheet">
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCgRU9bdQ3rMJod4xzJYN-5iWpMfPqz10o"></script>

{% endblock %}

{% block content %}
    <div id="middle">
        <div class="title"><h1>Mettre à jour une entreprise</h1></div>

        {{ include("company/form.html.twig",
            {button_text:"Mettre à jour"}) }}
    </div>
{% endblock %}
