{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/forms.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}Éditer une facture !{% endblock %}

{% block content %}
    <div id="middle">
        {% include "beals/form.html.twig" with {text_button:"Update"} %}
    </div>

    {{ form_end(form) }}

{% endblock %}
