{% extends 'base.html.twig' %}

{% block title %}Gestion comédiens & entreprises{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/manage.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="middle">
        <div class="creation">
            <div class="child1">
                <div class="title">PAYÉES</div>
                <div class="list">
                    {% for bill in paid %}
                        {% include "beals/bill_row.html.twig" with {"bill":bill} %}
                    {% endfor %}
                </div>
            </div>

            <div class="child3"></div>

            <div class="child2">
                <div class="title">NON PAYÉES</div>
                <div class="list">
                    {% for bill in not_paid %}
                        {% include "beals/bill_row.html.twig" with {"bill":bill} %}
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>
{% endblock %}

