<footer>
    <div class="credits">
        <p class="eux">© 2021 - agencej2b.com / All rights reserved</p>
        <p class="nous">[ GARO Nino - TURPIN Léo - PAUCHET Mathéo - BONHOMME Julie ]</p>
    </div>
    <div class="socials">
        <a href="https://www.facebook.com/j2bagence" target="_blank"><div id="facebook"></div></a>
        <a href="https://www.instagram.com/agencej2b/" target="_blank"><div id="instagram"></div></a>
        <a href="https://www.linkedin.com/company/agence-j2b1/" target="_blank"><div id="linkedin"></div></a>
    </div>
</footer>