<header>
    <div class="top">
        <a class="logo" href="">
            <img src="{{ asset("images/logos/J2B_logo.png") }}">
        </a>

        <div class="user_info">
            <div class="user_name">
                <a href="[profil]">
                    [Firstname]<br>
                    [Lastname]
                </a>
            </div>

            <div class="buttons">
                <button>Déconnexion</button>
            </div>
        </div>
    </div>

    <nav>
        <a href=""><p>LIEN</p></a>
        <a href=""><p>LIEN</p></a>
        <a href=""><p>LIEN</p></a>
    </nav>
</header>