<header>
    <div class="top">
        <div class="first">
            <div class="logo">
                <img src="{{ asset("images/logos/J2B_logo.png") }}">

            </div>
            {% if app.user %}
                <div class="user_info">
                    <div class="user_name">
                        <p>
                            [{{ app.user.firstName }}]<br>
                            [{{ app.user.lastName }}]
                        </p>
                    </div>

                    <div class="buttons">
                        <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                </div>
            {% endif %}
        </div>



        <nav>
            <a href="/beals"><p>FACTURES</p></a>
            <a href="/ketchup"><p>MESSAGES</p></a>
            <a href="/poulet_frit"><p>GESTION</p></a>
        </nav>
    </div>
</header>