{% extends 'base.html.twig' %}

{% block title %}Tests style{% endblock %}

{% block content %}

<div id="middle">
        {# <div class="child1">
            <h1 class="title">Ceci est un titre</h1>
            <p>Et ça un paragraphe (époustouflant)</p>
        </div>
        <div class="child2">
            <h1 class="title">Ceci est un titre</h1>
            <p>Et ça un paragraphe (époustouflant)</p>
        </div>
        <div class="child3">
            <h1 class="title">Ceci est un titre</h1>
            <p>Et ça un paragraphe (époustouflant)</p>
        </div>
        <div class="shape_container">
            <div class="shape"></div>
        </div>
    </div> #}
</div>
{% endblock %}

