{% extends 'base.html.twig' %}

{% block title %}[Username] - Profil{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="middle">
        <div class="child1">
            <div class="picture"><img src="{{ asset('images/default_picture.png') }}"></div>
            <div class="right">
                <p class="title">[Username]</p>
                <div class="bottom">
                    <p class="role">Rôle</p>
                    <button class="edit">Modifier</button>
                </div>
            </div>
        </div>
        <div class="child2">
            <h1 class="title">Ceci est un titre</h1>
            <p>Et ça un paragraphe (époustouflant)</p>
        </div>
    </div>
{% endblock %}

