@font-face {
    font-family: "Myriad pro";
    src: url("../fonts/Myriad-Pro_31655.ttf")
    format("truetype");
   }

body
{
    /*Taille*/
    margin: 0px;
    width: 100vw;
    height: 100vh;

    background-image: url("../images/background_image.png");
    background-size: 100% 100%;

    font-family: var(--text-bloc);
}

.wrapper
{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    
    /* background-color: black;
    border: 2px solid black; */
}

.middle
{
    display: flex;
    flex-direction: column;

    align-self: center;
    width: 80%;
    height: 100%;

    background-color: rgba(255,255,255,0.3);
}

.child1, .child2, .child3
{
    text-align: center;
    width: 90%;
    background-color: white;
    margin: auto;
    box-shadow: 10px 10px rgba(0,0,0,0.15);
}

.child1
{
    border-bottom: 10px solid var(--red);
    border-left: 10px solid var(--red-light);
    border-right: 10px solid var(--red-lighter);
    border-top: 10px solid var(--red-lighterer);
}

.child2
{
    border-bottom: 10px solid var(--yellow);
    border-left: 10px solid var(--yellow-light);
    border-right: 10px solid var(--yellow-lighter);
    border-top: 10px solid var(--yellow-lighterer);
}

.child3
{
    border-bottom: 10px solid var(--pink);
    border-left: 10px solid var(--pink-light);
    border-right: 10px solid var(--pink-lighter);
    border-top: 10px solid var(--pink-lighterer);
}

.title
{
    font-family: var(--title);
}

