{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/manage.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="middle">
        <div class="creation">
            <div class="child1">
            </div>

            <div class="child3"></div>

            <div class="child2">
            </div>
        </div>
    </div>
{% endblock %}

