{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/forms.css') }}" rel="stylesheet">
    <link href="{{ asset('styles/register.css') }}" rel="stylesheet">
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCgRU9bdQ3rMJod4xzJYN-5iWpMfPqz10o"></script>

{% endblock %}

{% block content %}
    <div id="middle">
        <div class="title"><h1>Create new User</h1></div>

        {% include "user/form.html.twig" with {"registrationForm":registrationForm} %}
    </div>
{% endblock %}
