{% extends 'base.html.twig' %}

{% block title %}Edit profile{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/forms/forms.css') }}" rel="stylesheet">
    <link href="{{ asset('styles/forms/register.css') }}" rel="stylesheet">
{#    <link href="{{ asset('styles/forms/edit_profile.css') }}" rel="stylesheet">#}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCgRU9bdQ3rMJod4xzJYN-5iWpMfPqz10o"></script>

{% endblock %}

{% block content %}
    <div id="middle">
        <div class="title"><h1>Modifiez votre profil</h1></div>

        {% include "user/form.html.twig" with {"registrationForm":editForm} %}
    </div>
{% endblock %}
